<div id="app">
	<div class="row">
		<div class="col s12">
			<form action="/create" method="post">
			
			<div class="input-field col s12">
				<input type="text" name="feed" id="feed" placeholder="Feed Name" class="validate">
			</div>
			<div class="input-field col s12">
				<label for="description">Description</label><br>
				<textarea name="description" rows="10" cols="40" class="materialize-textarea validate"></textarea>
			</div>
			<div class="input-field col s12">
				<input type="submit" value="Send feed" class="waves-effect waves-light btn">
			</div>
			</form>
		</div>
	<div>
</div>