<div id="app">
	<!-- tags erb -->
	<div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card darken-1">
            <div class="card-content">
              <% if @valor == 2 %> 
              	<span class="card-title">El valor de la variable de instancia es 2</span>
              <% else %>
              <p>El valor es de la variable de instancia es distinto a 2</p>
              <% end %>
            </div>
          </div>
        </div>
    </div>
</div>

